# Parameters
/app/config/parameters.yml
/app/config/parameters.yml.bak

# Managed by Composer
/vendor/
/assets/bower/

# Composer PHAR
/composer.phar

# Tests
phpunit.xml

# Mac
.DS_Store

# Project
*.sublime-*
